
body{
    color: white;
    background-color: black;
    text-align: center;
}

#greeting {
    font-size: 75px;
    margin-bottom: 150px;
}

#choose-weapon{
    text-align: center;
    color: red;
    font-family: 'Special Elite', cursive;
    font-size: 50px;
    margin-bottom: 75px;
}
.choices {
    display: grid;
    grid-template-columns: repeat(1fr,3);
    grid-template-areas: "rock paper scissors";
    align-items: center;
    justify-items: center;
    margin-bottom: 100px;
}

#rock {
    grid-area: rock;
    width: 100px;
}

#paper {
    grid-area: paper;
    width: 100px;
}

#scissors {
    grid-area: scissors;
    width: 100px;
}

.scores{
    font-family: arial, sans-serif;
    display: grid;
    grid-template-columns: repeat(1fr,3);
    grid-template-areas: "player-score score-label computer-score";
    align-items: center;
}

#player-score {
    grid-area: player-score;
    justify-self: end;
    margin: 5px;
}
#score-label {
    grid-area: score-label;
    justify-self: center;
    font-size: 40px;
    margin: 5px;
    
}
#computer-score {
    justify-self: start;
    grid-area: computer-score;
    margin: 5px;
}

#round-number{
    margin-top: 100px;
    margin-right:20px;
    font-size: 30px;
    text-align: center;
}
